PROJECT_ROOT=# Get this from the root of the project
DATA_PATH=# Some private data folder, e.g. Google Drive
RAW_DATA_PATH=${PROJECT_ROOT}/data/raw
DERIVED_DATA_PATH=${PROJECT_ROOT}/data/derived
OUTPUT_PATH=${PROJECT_ROOT}/data/outputs
MLX_MODELS_PATH=${PROJECT_ROOT}/models/mlx
MODELS_PATH=${PROJECT_ROOT}/models/others


# --- HuggingFace API ---
HUGGING_FACE_API_KEY=

# --- VOYAGE API ---
VOYAGE_API_KEY=

# --- ANTHROPIC API ---
ANTHROPIC_API_KEY=
ANTHROPIC_ENDPOINT=https://api.anthropic.com/v1/

# --- OPENAI API ---
OPENAI_API_KEY=

# --- GEMINI API ---
GEMINI_API_KEY=
GEMINI_ENDPOINT=https://generativelanguage.googleapis.com/v1beta/openai/

# --- MISTRAL API ---
MISTRAL_API_KEY=

# --- CLOUDFLARE API ---
CLOUDFLARE_API_KEY=
CLOUDFLARE_ACCOUNT_ID=

# --- KAGGLE API ---
KAGGLE_API_USERNAME=
KAGGLE_API_KEY=

# --- St Louis Fed FRED API ---
FRED_API_KEY=
