PROJECT_ROOT=# Get this from the root of the project

CACHE_PATH=# Some private cache folder, e.g. on a mounted drive
DATALAKE_ROOT=# Some private data folder, e.g. Google Drive
GDRIVE_DATALAKE=gdrive:Datalake
RAW_DATA_PATH=${DATALAKE_ROOT}/raw
DERIVED_DATA_PATH=${DATALAKE_ROOT}/derived
OUTPUT_PATH=${DATALAKE_ROOT}/outputs


# --- HuggingFace API ---
HUGGING_FACE_API_KEY=

# --- VOYAGE API ---
VOYAGE_API_KEY=

# --- ANTHROPIC API ---
ANTHROPIC_API_KEY=
ANTHROPIC_ENDPOINT=https://api.anthropic.com/v1/

# --- OPENAI API ---
OPENAI_API_KEY=

# --- GEMINI API ---
GEMINI_API_KEY=
GEMINI_ENDPOINT=https://generativelanguage.googleapis.com/v1beta/openai/

# --- MISTRAL API ---
MISTRAL_API_KEY=

# --- CLOUDFLARE API ---
CLOUDFLARE_API_KEY=
CLOUDFLARE_ACCOUNT_ID=

# --- KAGGLE API ---
KAGGLE_API_USERNAME=
KAGGLE_API_KEY=

# --- St Louis Fed FRED API ---
FRED_API_KEY=
